@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
   font-family: 'Raleway', sans-serif; */

/* #820000 (red)
   #4E6C50
   #F2DEBA
   #FAECD6 

   #DD5353
   #B73E3E
   #DBC8AC
   #EDDBC0

   #100F0F (black)
   */
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

:root {
    --main-color: #820000;
    --black-color: #100F0F;
    --border: 0.1rem solid #c7c7c7ec;
    --card: #658a67;
}

/* base html codes */
html {
    font-size: 62.5%;
    /* 1rem=10px */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
    background-color: aliceblue;
}

html::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: #658a67;
}

body {
    background-color: var(--main-color);
}

section {
    padding: 3.5rem 7%;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.btn {
    margin-top: 0.5rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: aliceblue;
    background-color: var(--black-color);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    font-size: 1.8rem;
}

.heading {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.2rem solid aliceblue;
}

.heading span {
    color: #658a67;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 5px #100F0F;
}

.search-input {
    font-size: 1.6rem;
    color: #100F0F;
    padding: 1rem 3rem;
    text-transform: none;
    border-radius: 3rem;
}

/* HEADER start */

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: aliceblue;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.75);
    color: #100F0F;
    transform: scaleY(0);
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form i {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #100F0F;
}

.header .search-form input {
    width: 100%;
}

.header .logo img {
    height: 10rem;
}

.header {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0 0 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.3rem solid transparent;

}

.header .navbar .active,
.header .navbar a:hover {
    border-color:#82000075;
    padding-bottom: 0.5rem;
}

.header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

.header .cart-items-container {
    position: absolute;
    top: 95%;
    height: auto;
    /* height: calc(100vh - 9rem); */
    width: 35rem;
    background-color: aliceblue;
    box-shadow: 0 20px 14px 0px rgba(0, 0, 0, 0.75);
    right: -100%;
}

.header .cart-items-container.active {
    right: 3rem;
}

.header .cart-items-container .cart-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.header .cart-items-container .cart-item:hover {
    box-shadow: 7px 0px 7px 0px rgba(0 0 0 / 0.75);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #100F0F;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: #100F0F;
    padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #100F0F;
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    border-radius: unset;
}

.header #menu-btn {
    display: none;
}

/* HEADER end */


/* HOME start */
.home {
    min-height: 100vh;
    background: url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;

}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    color: aliceblue;
}

.home .content p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 1rem 0;
    color: aliceblue;
}

/* HOME end */


/* MENU start */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem;
    background-color: var(--card);
    border-radius: 3rem;
    color: #100F0F;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: #faecd6d8 solid 0.2rem;
}


.menu .box-container .box img {
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.menu .box-container .box h3 {
    font-size: 2.8rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration-line: line-through;
    font-weight: 400;
}

.menu .box .menu-design {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.menu .box .menu-design img {
    width: 2.9rem;
    object-fit: cover;
}

/* MENU end */


/* PRODUCTS Start */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    background-color: black;
    position: relative;
    border-radius: 3rem;
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #658a67 solid 0.2rem;
    padding: 3rem;
}

.products .box-container .box .box-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.products .box-container .box .box-head .title {
    font-size: 1.4rem;
    font-weight: 500;
    color: aliceblue;
}

.products .box-container .box .box-head .name {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: start;
    overflow-wrap: break-word;
}

.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title {
    color: aliceblue;
}

.products .box-container .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
}

.products .box-container .dark-bg img {
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    transform: translate(0.7rem, 1rem);
}

.products .box-container .box-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.products .box-container .box-bottom .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: aliceblue;
}

.products .box-container .box-bottom .info .price {
    font-size: 3rem;
    font-weight: 500;
}

.products .box-container .box-bottom .info .amount {
    font-size: 1.5rem;
    font-weight: 200;
}

/* dark-bg içindeki yazı rengi için: 1:32:25 tekrar bak degiştirmek istersen */

.products .box-container .box-bottom .product-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.2rem solid var(--card);
    width: 5rem;
    height: 5rem;
    color: #658a67;
}

.products .box-container .box-bottom .product-btn a i {
    font-size: 1.6rem;
}

.products .box-container .box-bottom .product-btn a:hover {
    border: 0.3rem solid aliceblue;
    color: aliceblue;
    transition-duration: 0.1s;
}

/* PRODUCTS End */


/* ABOUTUS Start */
.about .row {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row img {
    width: 100%;
    border-radius: 1rem;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: aliceblue;
    text-align: center;
}

.about .row .content p {
    font-size: 1.6rem;
    color: aliceblue;
    text-align: start;
    padding: 1rem 0;
    line-height: 1.8rem;
}

/* ABOUTUS End */



/* REVİEW Start */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: #100F0F;
    text-align: center;
    padding: 3rem 2rem;
    background-color: aliceblue;
    border-radius: 3rem;

}

.review .box-container .box:nth-child(2) {
    text-align: center;
    background-color: #658a67;
    border-radius: 3rem;
    border: #658a67;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding: 2rem 0;
    text-align: center;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #820000;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: rgb(255, 222, 33);
}

/* REVİEW End */



/* CONTACT Start */
.contact .row {
    display: flex;
    background-color: #100F0F;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    object-fit: cover;
    padding: 3rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: aliceblue;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);

}

.contact .row form .inputBox i {
    color: aliceblue;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: aliceblue;
    text-transform: none;
    background-color: #100F0F;

}

.contact .row form .btn {
    color: #820000;
    background-color: aliceblue;
    font-weight: bold;
}

/* CONTACT End */

/*BLOG Start */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    background-color: aliceblue;
    border-radius: 3rem;
}

.blogs .box-container .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #820000;
}

.blogs .box-container .box .content span {
    display: block;
    padding: 1rem 0;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #100f0f79;
    padding: 2rem 0;

}

/* BLOG End */


/* FOOTER Start */
.footer {
    background-color: #100F0F;
    text-align: center;
}

.footer .search {
    display: flex;
    justify-content: center;
}

.footer .search search-input {
    width: 30rem;
}

.footer .search .btn-primary {
    background-color: #820000;
    padding: 1rem 2rem;
    margin-left: 1rem;
}

.footer .share {
    padding: 2rem 0;
}

.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: aliceblue;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: #820000;
    transform: scale(1.1);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a {
    background-color: #820000;
    padding: 0.7rem 2rem;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 1rem;
    border: rgba(240, 248, 255, 0.426) 0.1rem solid;
}

.footer .links a:hover {
    background-color: #100F0F;
    opacity: 0.7;
    transform: scale(1.1);
}

.footer .links a.active {
    background-color: #100F0F
}

.footer .credit {
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 300;
    padding-top: 1.5rem;
}

.footer .credit span {
    color: #820000;
    font-weight: 500;
    font-size: 1.8rem;
}

/* FOOTER End */

/* RESPONSİVE START */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .header .logo img {
        height: 8rem;
    }

    section {
        padding: 2rem 7%;
    }

    .products .box-container .box .box-head .name {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .header #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: aliceblue;
        height: calc(100vh-9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgba(0, 0, 0, 0.75);
        right: -100%;
    }

    .header .navbar.active {
        right: 3rem;
    }

    .header .navbar a {
        color: #100F0F;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;

    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
}

/* RESPONSİVE END */